:root {
  --h-color: 240;
  --h2-color: 20;
  --bg-color: hsl(var(--h-color), 50%, 8%);
  --text-color: hsl(var(--h-color), 50%, 90%);
  --secondary-color: hsl(var(--h2-color), 90%, 50%);
  --border-radius: 0.25em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 1em;
  font-family: system-ui, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.password-container {
  min-height: 100vh;
  margin: 0 1em;
  display: flex;
}

.password-generator {
  margin: auto;
  border-radius: var(--border-radius);
  display: grid;
  gap: 2em;
  width: 100%;
  max-width: 26rem;
  margin: auto;
  padding: 2em;
  background-color: hsl(var(--h-color), 50%, 20%);
}

.range-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

label {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

input,
button {
  padding: 0.5em 1em;
  border: none;
  outline: none;
  font: inherit;
  text-align: center;
  accent-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

input[type='range'] {
  flex: 1;
  padding-inline: 0;
}

input {
  font-family: 'Fira Code', console;
}

button {
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  transition: opacity 0.2s, scale 0.15s;
}

button:hover {
  opacity: 0.85;
  scale: 0.975;
}
